* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  background-color: #151515;
}

body {
  overflow-x: hidden;
}

#cursor {
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  /* background-color: #fff; */
  border: 1px solid #ffffffc3;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999;
  mix-blend-mode: difference;
}

#loader {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 999;
  position: fixed;
  padding: 20vh 15vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 4.5vw; */
  /* gap: 2.3vw; */
  gap: 5.3vw;
}

.line h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 900;
}

#animated-div h2 {
  position: absolute;
  top: 23.6vw;
  right: 14.9vw;
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    font-weight: 500;
    opacity: 1;
    -webkit-text-stroke: 1px #fff;

    transform: translateY(0); /* Starting position */
  }
  48% {
    font-family: "plain light";
    font-weight: 500;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    transform: translateY(0); /* Starting position */
  }
  50% {
    font-family: "silk serif";
    font-weight: 500;
    opacity: 1;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    transform: translateY(-10px); /* Starting position */
  }
  100% {
    font-family: "silk serif";
    font-weight: 500;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    transform: translateY(-10px); /* Starting position */
  }
}

#line1-p1 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-p1 h5,
#line1-p1 h6 {
  gap: 2vw;
  font-size: 2.5vw;
  font-family: "silk serif";
  font-weight: 100;
}

#line1-p1 h5 {
  width: 4vw;
  text-align: right;
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3vw 8.5vw;
}

#nav-right {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
#nav-right h4 {
  font-weight: 500;
  font-size: 1vw;
}

.hero {
  /* background-color: red; */
  width: 71%;
  margin-left: 29%;
  height: fit-content;
  overflow: hidden;
  /* background-color: red; */
}

.hero:nth-child(2) {
  margin-top: 6.4vw;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 7.1vw;
  line-height: 7.4vw;
}

#hero3 h1 {
  text-transform: uppercase;
  font-size: 7.1vw;
  line-height: 7.4vw;
  border-bottom: 0.5vw solid #fff;
  padding: 0.4vw;
  /* transition: all ease 0.3s; */
}
#hero3 {
  display: flex;
}
#hero3 h1:hover {
  -webkit-text-stroke: 0.21px #fff;
  z-index: 9999;
  color: transparent;
  border-bottom: 0.8vw solid #ffffff00;
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  position: relative;
  padding-top: 10vh;
}

#video-cursor {
  width: 10vw;
  height: 10vw;
  background-color: #ffa63d;
  border-radius: 50%;
  position: absolute;
  left: 70%;
  top: -16%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#video-cursor i {
  font-size: 2.5vw;
}

#video-container {
  position: relative;
  left: 29.2%;
  margin-top: 7vw;
  width: 70vw;
  height: 69vh;
  object-fit: cover;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#page4 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 7vw 0;
}

#page4-content {
  padding-top: 5vw;
  margin-left: 28%;
  width: 72vw;
}

#page4-about h1 {
  font-size: 7vw;
  text-transform: uppercase;
}

#underline {
  height: 1px;
  width: 90%;
  background-color: #ffffffb9;
  margin: 5vw 0;
}

#page4-para {
  font-size: 2.4vw;
  width: 52%;
}

#page4-flex {
  display: flex;
  /* align-items: flex-start; */
  gap: 2vw;
  margin: 4vw 0;
}

#page4-flex img {
  width: 35vw;
}

#page4-right {
  display: flex;
  gap: 2vw;
  flex-direction: column;
}

#page4-right p {
  width: 52%;
  font-size: 1vw;
  line-height: 1.5vw;
}

#awwards-page {
  background-color: #3f7df4;
  padding: 2.5vw 3.5vw;
  width: 33vw;
  position: relative;
  margin-top: -43vh;
  margin-left: 51vh;
}

.awwards-page-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vw 0;
  border-bottom: 1px solid #e5e5e5;
}

.awwards-page-elem h3 {
  font-size: 1.6vw;
  font-weight: 500;
}
.awwards-page-elem p {
  font-size: 1vw;
  width: 35%;
}

#page5 {
  width: 100%;
  min-height: 100vh;
}
